@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
    --item1-transform: translate(-100%,-5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zindex: 11;
    --item1-opacity: 0;

    --item2-transform: translate(0,0);
    --item2-filter: blur(0);
    --item2-z-index: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%,10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-z-index: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%,20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-z-index: 9;
    --item4-opacity: 1;

    --item5-transform: translate(120%,30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-z-index: 7;
    --item5-opacity: 0;
    --item5-pointer-events: none;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}


.nav-item{
    margin-right: 50px;
}
.nav-item{
    color: black;
    
}
.search-bar{
    width: 50%; 
}
.search-1{
    margin-left: 25%;
}

.btn-1{
    position: relative;
    left: 1%;
    color: black;
    border-color: black;
}
.btn-1:hover{
    border: none;
    background-color: #555;
    color: white;
}
.logo{
    position: relative;
    right: 6px;
    width: 120px; 
}
.title{
    
        font-size: 25px;
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 200%;
    
}
.container-fluid{
    border-bottom-style: 4px solid;
    border-color: white;
    box-shadow: 0px 5px 15px  rgba(189, 178, 178, 0.25) ;
    transition: background-color 2ms, color 2s;
    transition-delay: 2ms;
    position: relative;
    z-index: 100;
}

.carousel{
    margin-top: -15%;
    height: 800px;
    position: relative;
}

.carousel .list{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1140px;
    max-width: 90%;
    transform: translate(-50%);
    height: 80%;
}

.carousel .list .item{
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    font-size: 15px;
}

.carousel .list .item img{
    width: 65%;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateY(-50%);
   
}

.carousel .list .item .intro{
    position: absolute;
    top: 100%;
    right: 70%;
    transform: translateY(-50%);
    width: 400px;
    opacity: 0;
    pointer-events: none;

}
.carousel .list .item:nth-child(2) .intro{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}

.carousel .list .item:nth-child(n + 6){
    opacity: 0;
    pointer-events: none;
}

.carousel .list .item:nth-child(2){
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-z-index);
    opacity: var(--item2-opacity);
}

.carousel .list .item:nth-child(1){
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zindex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}

.carousel .list .item:nth-child(3){
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-z-index);
    opacity: var(--item3-opacity);
}

.carousel .list .item:nth-child(4){
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-z-index);
    opacity: var(--item4-opacity);
}

.carousel .list .item:nth-child(5){
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    z-index: var(--item5-z-index);
    opacity: var(--item5-opacity);
    pointer-events: none;
}

.arrows{
    position: absolute;
    top:115%;
    width: 1350px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows #next,
.arrows #prev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    border: 1px solid #555;
}
.arrows #next{
    margin-top: -1px;
}

.carousel .list .item .intro .title{
    font-size: 2em;
    line-height: 0.9em;
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.carousel .list .item .intro .topic{
    font-size: 4em;
    font-weight: 500;font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}
.carousel .list .item .intro .des{
    color: black;
    font-size: small;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  

}
.carousel .list .item .intro .seeMore{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #555;
    font-family: Poppins;
    font-weight: bold;
    margin-top: 1.2em;
    padding: 5px 0;
    font-size: 20px;
}

.carousel .list .item:nth-child(2) .intro .title,
.carousel .list .item:nth-child(2) .intro .topic,
.carousel .list .item:nth-child(2) .intro .des,
.carousel .list .item:nth-child(2) .intro .seeMore{
    opacity: 0;
    animation:  showContent 0.5s 0.7s ease-in-out 1 forwards;
}

@keyframes showContent{
    from{
        transform: translateY(50px);
        filter: blur(30px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);

    }
}
.carousel .list .item:nth-child(2) .intro .topic{
    animation-delay: 0.9s;
}
.carousel .list .item:nth-child(2) .intro .des{
    animation-delay: 1.1s;
}
.carousel .list .item:nth-child(2) .intro .seeMore{
    animation-delay: 1.3s;
}

/* Next Click Effect */
.carousel.next .list .item:nth-child(1){
    animation: positionItem2 0.5s ease-in-out 1 forwards;
}
@keyframes positionItem2{
    from{
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        z-index: var(--item2-z-index);
        opacity: var(--item2-opacity);
    }
}

.carousel.next .list .item:nth-child(2){
    animation: positionItem3 0.7s ease-in-out 1 forwards;
}
@keyframes positionItem3{
    from{
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        z-index: var(--item3-z-index);
        opacity: var(--item3-opacity);
    }
}

.carousel.next .list .item:nth-child(3){
    animation: positionItem4 0.9s ease-in-out 1 forwards;
}
@keyframes positionItem4{
    from{
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        z-index: var(--item4-z-index);
        opacity: var(--item4-opacity);
    }
}

.carousel.next .list .item:nth-child(4){
    animation: positionItem5 1.1s ease-in-out 1 forwards;
}
@keyframes positionItem5{
    from{
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        z-index: var(--item5-z-index);
        opacity: var(--item5-opacity);
    }
}


/* effect click prev button */
.carousel.prev .list .item:nth-child(2){
    animation: positionItem1 0.5s ease-in-out 1 forwards;
}
@keyframes positionItem1{
    from{
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        z-index: var(--item1-zindex);
        opacity: var(--item1-opacity);
    }
}

.carousel.prev .list .item:nth-child(3){
    animation: positionItem2 0.7s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(4){
    animation: positionItem3 0.9s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(5){
    animation: positionItem4 1.1s ease-in-out 1 forwards;
}




.cart{
    display: none;
}

.cart{
    position: fixed;
    width: 300px;
    float: right;
    text-align: center;
    right: 20px;
    border: 1px solid black;
    overflow-y: scroll;
    height: 55vh;
    z-index: 1000; 
    background-color: #fff;
    border: none;
    box-shadow: 0px 5px 15px rgba(0,0, 0, 0.25);
    border-radius: 10px;    
}
.cart .title{
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}
.cart::-webkit-scrollbar{
    display: none;
}
.cartImg > img{
    width: 200px;
}

.delete-btn {
    width: 8vh;
    font-style: bold;
    border-radius: 5px;
    margin-right: 10px;
}
.delete-btn:hover {
    transform: scale(1.05);
}
.buy-now-btn {
    width: 10vh;
    font-style: bold;
    border-radius: 5px;
   
}
.buy-now-btn:hover {
    transform: scale(1.05);
}



























@media (min-width:323px) and (max-width:387px){
    .carousel{
        position: relative;
        top: -185px;
    }
    .carousel .list .item .intro{
        position: relative;
        top: 102%;
        right: -27%;
        width: 350px;
    }
   
    .arrows{
        position: relative;
        top: 79%;
        left: 45%;
        width: 75%;
        
    }
    .des{
        font-size: 1px;
    }
    .logo{
        width: 95px;
    }
    .title{
        font-size: 30px;
       
    }
}










@media (min-width:388px) and (max-width:450px){
    .carousel{
        position: relative;
        top: -100px;
    }
    .carousel .list .item .intro{
        position: relative;
        top: 105%;
        right: -27%;
        width: 350px;
    }
   
    .arrows{
        position: relative;
        top: 83%;
        left: 47%;
        width: 75%;
        
    }
}


@media (max-width:480px){
    .carousel{
        margin-top: -85%;
        margin-left: -22%;
    }
    .carousel .list .item .intro{
        margin-top: 90%;
        margin-right: -110%;
    }
    
    .arrows{
        margin-top: -39%;
        margin-left: 32px;
        width: 75%;
        
    }
    .arrows #prev{
        margin-left: 50px;
    }

    body,html{
        height: 100%;
        overflow-x: hidden;
        
    }
}

@media (min-width:481px) and (max-width:560px){
    .carousel{
        margin-top: -85%;
        margin-left: -22%;
    }
    .carousel .list .item .intro{
        margin-top: 90%;
        margin-right: -103%;
    }
    .arrows{
        margin-top: -39%;
        margin-left: 32px;
        width: 75%;
        
    }
    .arrows #prev{
        margin-left: 50px;
    }

    body,html{
        height: 100%;
        overflow-x: hidden;
        
    }
}


@media (min-width:561px) and (max-width:620px){
    .carousel{
        margin-top: -75%;
        margin-left: -22%;
    }
    .carousel .list .item .intro{
        margin-top: 80%;
        margin-right: -105%;
        width: 450px;
    }
    .arrows{
        margin-top: -32%;
        margin-left: 53px;
        width: 75%;
        
    }
    .arrows #prev{
        margin-left: 50px;
    }
    .search-bar{
        position: relative;
        left: -50px;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media (min-width:621px)and (max-width:675px){
    .carousel{
        margin-top: -70%;
        margin-left: -22%;
    }
    .carousel .list .item .intro{
        margin-top: 80%;
        margin-right: -100%;
        width: 450px;
    }
    .arrows{
        margin-top: -25%;
        margin-left: 53px;
        width: 75%;
        
    }
    .arrows #prev{
        margin-left: 50px;
    }
    .search-bar{
        position: relative;
        left: -50px;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
       
    }
}

@media (min-width:676px)and (max-width:755px){
    .carousel{
        margin-top: -60%;
        margin-left: -22%;
    }
    .carousel .list .item .intro{
        margin-top: 65%;
        margin-right: -90%;
        width: 450px;
    }
    .arrows{
        margin-top: -25%;
        margin-left: 53px;
        width: 75%;
        
    }
    .arrows #prev{
        margin-left: 50px;
    }
    .search-bar{
        position: relative;
        left: -50px;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media (min-width:756px) and (max-width:840px){
    .carousel{
        margin-top: -55%;
        margin-left: -22%;
    }
    .carousel .list .item .intro{
        margin-top: 55%;
        margin-right: -95%;
        width: 550px;
    }
    .arrows{
        margin-top: -25%;
        margin-left: 53px;
        width: 75%;
        
    }
    .arrows #prev{
        margin-left: 50px;
    }
    .search-bar{
        position: relative;
        left: -50px;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media (min-width:841px) and (max-width:991px){
    .carousel{
        margin-top: -40%;
        margin-left: -22%;
    }
    .carousel .list .item .intro{
        margin-top: 44%;
        margin-right: -85%;
        width: 550px;
    }
    .arrows{
        margin-top: -25%;
        margin-left: 59px;
        width: 75%;
        
    }
    .arrows #prev{
        margin-left: 50px;
    }
    .search-bar{
        position: relative;
        left: -50px;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media (min-width:992px)and (max-width:1150px){
    .carousel{
        position: relative;
        top: -15vh;
        left: 20vh;
        width: 100vh;
    }
    .carousel .list .item .intro{
        margin-right: -15%;
    }
    .arrows{
        margin-left: -12vh;
        width: 100%;
        
    }
    .container-fluid{
        font-size: 15px;
    }
    ul{
        position: relative;
        left: -55px;
    }
    .title,
    .logo{
        position: relative;
        left: -1%;
        font-size: 20px;
    }
    .search-bar{
        width: 350px;
        position: relative;
        right: 12%;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
}

@media (min-width:1151px)and (max-width:1225px){
    .carousel{
        position: relative;
        top: -15vh;
        left: 25vh;
        width: 100vh;
    }
    .carousel .list .item .intro{
        margin-right: -10%;
    }
    .arrows{
        margin-left: -10vh;
        width: 100%;
    }
    .arrows #prev{
        margin-left: -90px;
    }
    .arrows #next{
        margin-right: -90px;
    }
    
    .container-fluid{
        font-size: 15px;
    }
    ul{
        position: relative;
        left: -70px;
    }
    .title,
    .logo{
        position: relative;
        left: -1%;
        font-size: 20px;
    }
    .search-bar{
        width: 450px;
        position: relative;
        right: 12%;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media (min-width:1226px)and (max-width:1300px){
    .carousel{
        position: relative;
        top: -15vh;
        left: 35vh;
        width: 100vh;
    }
    .carousel .list .item .intro{
        margin-right: 2%;
    }
    .arrows{
        margin-left: -10vh;
        width: 100%;
    }
    .arrows #prev{
        margin-left: -150px;
    }
    .arrows #next{
        margin-right: -90px;
    }
    .container-fluid{
        font-size: 15px;
    }
    ul{
        position: relative;
        left: -70px;
    }
    .title,
    .logo{
        position: relative;
        left: -1%;
        font-size: 20px;
    }
    .search-bar{
        width: 450px;
        position: relative;
        right: 12%;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media (min-width:1301px)and (max-width:1400px){
    .carousel{
        position: relative;
        top: -10vh;
        left: 45vh;
        width: 100vh;
    }
    .carousel .list .item .intro{
        margin-right: 10%;
    }
    .arrows{
        margin-left: -15vh;
        width: 100%;
    }
    .arrows #prev{
        margin-left: -150px;
    }
    .arrows #next{
        margin-right: -90px;
    }
    .container-fluid{
        font-size: 15px;
    }
    ul{
        position: relative;
        left: -70px;
    }
    .title,
    .logo{
        position: relative;
        left: -1%;
        font-size: 20px;
    }
    .search-bar{
        width: 550px;
        position: relative;
        right: 12%;
     }

    body,html{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}


@media only screen and (min-width:350px) and (max-width: 768px){
    .search-bar{
       width: 450px;
       position: relative;
       right: 25%;
    }
    
}
