@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}


.nav-item{
    margin-right: 50px;
}
.nav-item{
    color: black;
    
}
.search-bar{
    width: 50%; 
}
.search-1{
    margin-left: 25%;
}

.btn-1{
    position: relative;
    left: 1%;
    color: black;
    border-color: black;
}
.btn-1:hover{
    border: none;
    background-color: #555;
    color: white;
}
.logo{
    position: relative;
    right: 6px;
    width: 120px; 
}
.title{
    
        font-size: 25px;
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 200%;
    
}
.title2{
    font-size: 25px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200%;
    }
.container-fluid{
    border-bottom-style: 4px solid;
    border-color: white;
    box-shadow: 0px 5px 15px  rgba(189, 178, 178, 0.25) ;
    transition: background-color 2ms, color 2s;
    transition-delay: 2ms;
    position: relative;
    z-index: 100;
}

.con1{
    margin-top: -42px;
}

.row1{
    background-color: white ;
    padding-top: 10vh;
    padding-bottom: 7vh;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}


.in{
    position: relative;
    top: -13px;
}

.button,
#button{
    width: 25%;
    height: 10%;
    font-size: 20px;
    color: white;
    font-family: "Libre Baskerville", serif;
    background-color: #4D55B2;
    border-radius: 8px;
    font-style: bold;
    border: none;
}





.input{
    width: 350px;
    height: 250px;
    font-size: 20px;
    padding-bottom: 35%;
    resize: both;
    border-radius: 3%;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

body,html{
    background-color: rgb(247, 247, 247);
    overflow-x: hidden;
}

.con1 .row1 a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
span{
    font-size: 19px;
}

i{
    color: #4D55B2;
    font-size: 200%;
    font-weight: 900;
}
.gif{
    margin-top: -25px;
    margin-left: -70px;
    background:none;
}
h5{
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    
}
.availabelpic{
    width: 110px;
    border-radius: 50%;
    margin-top: -69px;
}
.socialmedia{
    letter-spacing: 2vh;
    position: relative;
    top: -18%;
    left: 5%;
}
.row1,
.title2,
.subtitle,
.in,
.gif,
td{
    opacity: 0;
    animation:  showContent 0.5s 0.5s ease-in-out 1 forwards;
}

@keyframes showContent{
    from{
        transform: translateY(50px);
        filter: blur(30px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);

    }
}

td{
    animation-delay: 0.7s;
}
.in{
    animation-delay: 1s;
}
.gif{
    animation-delay: 1.3s;
}


.row2,
.facebook,
.twitter,
.instagram,
.whatsapp{
    opacity: 0;
    animation:  showContent2 0.9s 0.9s ease-in-out 1 forwards;
}

@keyframes showContent2{
    from{
        transform: translateZ(50px);
        filter: blur(30px);
    }to{
        transform: translateZ(0);
        opacity: 1;
        filter: blur(0);

    }
}

.facebook{
    animation-delay: 1s;
}
.twitter{
    animation-delay: 1.3s;
}
.instagram{
    animation-delay: 1.6s;
}
.whatsapp{
    animation-delay: 1.9s;
}



.cart{
    display: none;
}

.cart{
    position: fixed;
    width: 300px;
    float: right;
    text-align: center;
    right: 20px;
    border: 1px solid black;
    overflow-y: scroll;
    height: 55vh;
    z-index: 1000; 
    background-color: #fff;
    border: none;
    box-shadow: 0px 5px 15px rgba(0,0, 0, 0.25);
    border-radius: 10px;    
}
.cart .title{
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}
.cart::-webkit-scrollbar{
    display: none;
}
.cartImg > img{
    width: 200px;
}

.delete-btn {
    width: 8vh;
    font-style: bold;
    border-radius: 5px;
    margin-right: 10px;
}
.delete-btn:hover {
    transform: scale(1.05);
}
.buy-now-btn {
    width: 10vh;
    font-style: bold;
    border-radius: 5px;
   
}
.buy-now-btn:hover {
    transform: scale(1.05);
}


















@media (max-width:434px){
    .availabelpic{
        width: 100px;
    }
    h5{
        position: relative;
        right: -13%;
    }
}




@media (min-width:992px)and (max-width:1150px){
    .container-fluid{
        font-size: 15px;
    }
    .search-bar{
        width: 350px;
        position: relative;
        right: 12%;
     }
    ul{
        position: relative;
        left: -55px;
    }
    .title,
    .logo{
        position: relative;
        left: -1%;
        font-size: 20px;
    }
}

@media (min-width:1151px)and (max-width:1225px){
    .container-fluid{
        font-size: 15px;
    }
    .search-bar{
        width: 450px;
        position: relative;
        right: 12%;
     }
    ul{
        position: relative;
        left: -70px;
    }
    .title,
    .logo{
        position: relative;
        left: -1%;
        font-size: 20px;
    }
}

@media (min-width:1226px)and (max-width:1300px){
    .container-fluid{
        font-size: 15px;
    }
    .search-bar{
        width: 450px;
        position: relative;
        right: 12%;
     }
    ul{
        position: relative;
        left: -70px;
    }
    .title,
    .logo{
        position: relative;
        left: -1%;
        font-size: 20px;
    }
}

@media (min-width:1301px)and (max-width:1400px){
    .container-fluid{
        font-size: 15px;
    }
    .search-bar{
        width: 550px;
        position: relative;
        right: 12%;
     }
    ul{
        position: relative;
        left: -70px;
    }
    .title,
    .logo{
        position: relative;
        left: -1%;
        font-size: 20px;
    }
}





@media only screen and (min-width:350px) and (max-width: 768px){
    .search-bar{
       width: 450px;
       position: relative;
       right: 25%;
    }
    
}


@media (min-width: 354px) and (max-width: 429px) {
    .search-bar{
       width: 450px;
       position: relative;
        right: 25%;
    }
}